---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import HeroSection from '../components/HeroSection.astro'
import ExpertiseSection from '../components/ExpertiseSection.astro'
import TimelineSection from '../components/TimelineSection.astro'
import ProjectsSection from '../components/ProjectsSection.astro'
import ContactSection from '../components/ContactSection.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<Base>
  <Nav />
  <main>
    <HeroSection />
    <ExpertiseSection />
    <TimelineSection />
    <ProjectsSection />
    <ContactSection />
  </main>
  <Footer />
</Base>
